// Landing Page Customizations 

.landing { 
    margin-top: 0px;
    
    .btn-outline-white { 
        font-weight: bold;
        text-shadow: 1px 1px 3px #000000;
        color: white;
    }

    .fa { color: $gray; }
}


.testimony { opacity: 0.75; background: #404d5a; }