.shop { 
  position: relative;

  .shop-item-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .shop-item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;

    max-width: 340px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    img {  // NotE: Currently all shop images are 320x320
      width: 100%;
      max-width: 320px;
      max-height: 320px;
    }

  }

  .cart-widget-sticky { 
    display: flex;
    flex-direction: row-reverse;
    z-index: 9999;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    right: 0;

    .cart-widget-collapsed {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 10px 0 10px;
      background: #f5fff5;
      box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
      border: 1px solid #999;
      .fa { color: #888; }
    }
    

    .cart-widget-expanded { 
      border: 1px solid gray;
      background: white;
      padding: 10px 25px 10px 10px;
      background: #f5fff5;
      box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    }

  }

}