<footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">

            <div class="col-md">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Site Map</h2>
                <ul class="list-unstyled">
                  <li><a routerLink="/" class="py-2 d-block">Home</a></li>
                  <li><a routerLink="/shop" class="py-2 d-block">Shop</a></li>
                  <li><a routerLink="/build-your-own" class="py-2 d-block">Build Your Own</a></li>
                  <li><a routerLink="/gallery" class="py-2 d-block">Photo Gallery</a></li>
                  <li><a routerLink="/cart" class="py-2 d-block">Cart</a></li>
                  <!-- <li><a routerLink="/" fragment="about" class="py-2 d-block">About</a></li> -->
                  <!--<li><a routerLink="/" fragment="contact" class="py-2 d-block">Contact</a></li>-->
                </ul>
              </div>
            </div>

            <div class="col-md">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Contact Information</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">123 Address Street, Kalamazoo MI 12345</a></li>
                  <li><a href="#" class="py-2 d-block">+1 616 123 4567</a></li>
                  <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
                  <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Hours</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">Mon - Fri: 9am - 5pm</a></li>
                  <li><a href="#" class="py-2 d-block">Saturday: 8am - 6pm</a></li>
                  <li><a href="#" class="py-2 d-block">Sunday: Closed</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
    
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 
                This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>