<div class="gallery">

<section class="ftco-cover overlay" style="background-image: url(assets/img/brown-hen-net.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center ftco-vh-100">
      <div class="col-md-9 text-center">
        <h1 class="ftco-heading mb-4" data-aos="fade-up" data-aos-delay="500">Photo Gallery</h1>
        <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">Fish Porn. Plain and simple.</h2>
      </div>
    </div>
  </div>
</section>


<!-- Facebook feed photos -->
<!-- TODO
<div class="ftco-section">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <p>Here's the latest from our official Facebook page!
        </p>
      </div>

			<div class="fb-page" data-href="https://www.facebook.com/BachmanSpinningTackle" data-tabs="timeline" data-width="500" data-height="" data-small-header="false"
			 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="width: 500px">
			 	<blockquote cite="https://www.facebook.com/BachmanSpinningTackle" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/BachmanSpinningTackle">Bachman Spinners</a>
				</blockquote>
			</div>

		</div>


	</div>
</div>
-->

<!-- Manual Photo Gallery -->
<div class="ftco-section bg-light">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <p>A collection of the best original and user submitted photos of fish caught on Bachman Spinners!
          Want to submit a photo of your own? Send them along with a brief message to <a href="mailto:bachmanspinners@yahoo.com">bachmanspinners@yahoo.com</a>
        </p>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="block-10" data-aos="fade-up">
          <div class="won-img mb-3" style="background-image: url(assets/img/brown-release-1.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Let 'em Grow</span>
            <p>Careful handling of trout helps them stay strong and healthy when practicing catch and release.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="block-10" data-aos="fade-up" data-aos-delay="150">
          <div class="won-img mb-3" style="background-image: url(assets/img/bachman-bass-2.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Bass Attack</span>
            <p>Who says spinners are only for trout? This largemouth inhaled a gold hoghunter.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="block-10" data-aos="fade-up" data-aos-delay="300">
          <div class="won-img mb-3" style="background-image: url(assets/img/brown-monster-1.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Midnight Monster</span>
            <p>This Bachman Spinner-caught monster brown is the reason anglers stay out after dark</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="block-10"  data-aos="fade-up">
          <div class="won-img mb-3" style="background-image: url(assets/img/bachman-bass-1.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Bucket Mouth</span>
            <p>This bucket mouth decided that a gold hoghunter would be his next meal.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="block-10"  data-aos="fade-up" data-aos-delay="150">
          <div class="won-img mb-3" style="background-image: url(assets/img/testimonial-ben-redman.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Native Brown</span>
            <p>Ben Redman shows off this beautiful native brown trout caught on a bachman spinner. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="block-10"  data-aos="fade-up" data-aos-delay="300">
          <div class="won-img mb-3" style="background-image: url(assets/img/pike-in-kayak-1.jpg);"></div>
          <div class="person-info">
            <span class="name-2 mb-3">Northern Pike</span>
            <p>Northern pike are especially keen to hammer Bachman Spinners.</p>
          </div>
        </div>
      </div>

    </div>

		<!-- 
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a>&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a>&gt;</a></li>
          </ul>
        </div>
      </div>
		</div>
	-->

	<!-- Slider /Spinner Gallery section -->
	<section class="ftco-section-2 bg-light">
		<div class="container-fluid">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 text-center" data-aos="fade-up">
					<h2>Want more?</h2>
					<h5>Here's a large collection of even more fish, all caught on Bachman Spinners!</h5>
				</div>
			</div>
		</div>

		<!-- Owl Carousel -->
		<div>
		  <owl-carousel [options]="CarouselOptions" [items]="imageGallery" [carouselClasses]="['owl-theme', 'sliding']" >  
				<div class="item" *ngFor="let img of imageGallery; let i = index">  
					<!--<div class="d-flex justify-content-center">  
						<img style="height: 300px;" [attr.data-src]="'/assets/img/gallery/' + img" />
					</div>  -->
					<div class="thumbnail-image d-flex flex-column-reverse align-items-center" 
						[ngStyle]="{'background': 'url(' + img + ')no-repeat scroll center center / auto 500px'}">
						<!--<p class="clickable" (click)="expandImage(img)">[Enlarge]</p>-->
						<p class="clickable" >
							<a [href]="img" target="_blank">[View Full Screen]</a>
						</p>
						<p>{{i + 1}} of {{imageGallery.length}}</p>
					</div>
				</div>
			</owl-carousel>
		</div>

	</section>

	
	




  </div>
</div>


</div>