<div class="landing">
<section class=" ftco-cover overlay" style="background-image: url(/assets/img/bg_brown.jpg);" id="section-home" data-aos="fade"  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center ftco-vh-100">
      <div class="col-md-8 text-center">
        <h1 class="ftco-heading mb-4" data-aos="fade-up" data-aos-delay="500">World Class Spinners</h1>
        <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up" data-aos-delay="600">
          Loved by fish and fishermen alike
        </h2>
        <p data-aos="fade-up" data-aos-delay="700"><a class="btn btn-outline-white px-4 py-3" routerLink="/shop">Buy Now</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<div class="ftco-section ftco-counter" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
        <div class="block-18 d-flex align-items-center">
          <div class="icon mr-4">
            <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
          </div>
          <div class="text">
            <strong class="number" data-number="10000">10000</strong>
            <span>Fish Caught</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
        <div class="block-18 d-flex align-items-center">
          <div class="icon mr-4">
            <span class="flaticon-handshake"></span>
          </div>
          <div class="text">
            <strong class="number" data-number="26">26</strong>
            <span>Trusted Clients</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
        <div class="block-18 d-flex align-items-center">
          <div class="icon mr-4">
            <span class="flaticon-medal"></span>
          </div>
          <div class="text">
            <strong class="number" data-number="3">3</strong>
            <span>Tournament Wins</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
        <div class="block-18 d-flex align-items-center">
          <div class="icon mr-4">
            <span class="flaticon-trophy"></span>
          </div>
          <div class="text">
            <strong class="number" data-number="67">67</strong>
            <span>Awards & Honors</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section-2">
  <div class="container-fluid">
    <div class="section-2-blocks-wrapper row no-gutters">
      <div class="img col-sm-12 col-md-6" style="background-image: url('/assets/img/brown-net-1.jpg');" data-aos="fade-right">
        <a (click)="showVideo()" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="300"><span class="ion-ios-play"></span></a>
      </div>
      <div class="text col-md-6">
        <div class="text-inner align-self-start" data-aos="fade-up">
          
          <h3>Built by Fishermen, for Fishermen</h3>
          <p>We started out building our own spinners beause the fish in our area were getting smart to the standard tackle options used by everyone else. After many refinements, we found a design that worked well, produced consistently, and caught fish.</p>

          <p>Now we are offering that same custom-built quality to you, so you can share in our success. Whether you are chasing trout, bass, pike, or panfish, we have a spinner to get the job done. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Promise -->
<div class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center" data-aos="fade-up">
        <h2>Our Promise</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="fade-up">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><i class="fa fa-superpowers fa-lg" aria-hidden="true"></i></div>
          <div class="media-body">
            <h3 class="heading">World Class Spinners</h3>
            <p>Custom built, high quality spinners that fish just can't resist.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><i class="fa fa-gear fa-lg" aria-hidden="true"></i></div>
          <div class="media-body">
            <h3 class="heading">Hand Crafted</h3>
            <p>Each spinner is painstakingly crafted by hand to ensure the finest quality.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></div>
          <div class="media-body">
            <h3 class="heading">Reliable Action</h3>
            <p>Spinners that spin like no other. Every time. So you don't have to worry.</p>
          </div>
        </div>    
      </div>

      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><i class="fa fa-wrench fa-lg" aria-hidden="true"></i></div>
          <div class="media-body">
            <h3 class="heading">Fully Customizable</h3>
            <p>Design your own spinner and we will build it and ship it to you!</p>
          </div>
        </div>      
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><span class="flaticon-handshake"></span></div>
          <div class="media-body">
            <h3 class="heading">Trusted by Pros</h3>
            <p>Consistently high placement in tournaments for those using Bachman Spinners.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-4"><i class="fa fa-money fa-lg" aria-hidden="true"></i></div>
          <div class="media-body">
            <h3 class="heading">Affordable</h3>
            <p>Sick of spending $15 on a lure? Filling up your tackle box won't break the bank.</p>
          </div>
        </div>    
      </div>

    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div class="ftco-section testimony-img" id="ftco-testimony" style="background-image: url(/assets/img/pike-2x-kayaks.jpg);" data-aos="fade"  data-stellar-background-ratio="0.5">
<div class="container">
  <div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading" data-aos="fade-up">
      <h2>Testimonials</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex no-gutters">
			<div class="col-lg align-self-sm-end" data-aos="fade-up">
				<div class="testimony overlay">
						<blockquote>
							<p>&ldquo;Bachman Spinners are my first choice for when I want to catch some big bass. They can't get enough.&rdquo;</p>
						</blockquote>
						<div class="author d-flex mt-4">
							<div class="image mr-3 align-self-center">
								<img src="/assets/img/avatar-jamie-forward.jpg" alt="">
							</div>
							<div class="name align-self-center">Jamie Forward <span class="position">Bass Master</span></div>
						</div>
				</div>
			</div>
    <div class="col-lg align-self-sm-end" data-aos="fade-up" data-aos-delay="75">
      <div class="testimony">
         <blockquote>
            <p>&ldquo;I love catching these beautiful browns on Bachman spinners!&rdquo;</p>
          </blockquote>
          <div class="author d-flex mt-4">
            <div class="image mr-3 align-self-center">
              <img src="/assets/img/avatar-ben-redman.jpg" alt="">
            </div>
            <div class="name align-self-center">Ben Redman <span class="position">Michigan Trout Addict</span></div>
          </div>
      </div>
    </div>
    <div class="col-lg align-self-sm-end" data-aos="fade-up" data-aos-delay="150">
      <div class="testimony overlay">
         <blockquote>
            <p>&ldquo;Even the salmon love 'em!&rdquo;</p>
          </blockquote>
          <div class="author d-flex mt-4">
            <div class="image mr-3 align-self-center">
              <img src="/assets/img/avatar-kasey-kyser.jpg" alt="">
            </div>
            <div class="name align-self-center">Kasey Kyser <span class="position">Salmon Stalker Extraordinaire</span></div>
          </div>
      </div>
    </div>
    
    
  </div>
</div>
</div>

<!-- Team Members -->
<div class="ftco-section bg-light">
<div class="container">
  <div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center" data-aos="fade-up">
      <h2>Our Team</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3" data-aos="fade-up">
      <div class="block-10">
        <div class="person-info mb-3">
          <span class="name">Tim Bachman</span>
          <span class="position">Founder</span>
        </div>
        <img src="/assets/img/tim-bachman-2.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="150">
      <div class="block-10">
        <div class="person-info mb-3">
          <span class="name">Chris Bachman</span>
          <span class="position">Founder</span>
        </div>
        <img src="/assets/img/chris-bachman.jpg" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="300">
      <div class="block-10">
        <div class="person-info mb-3">
          <span class="name">Peter Mooney</span>
          <span class="position">Application Architect</span>
        </div>
        <img src="/assets/img/pete-brookie-1.jpg" alt="" class="img-fluid">
      </div>
		</div>
		<div class="col-sm-6 col-md-3" data-aos="fade-up" data-aos-delay="450">
      <div class="block-10">
        <div class="person-info mb-3">
          <span class="name">Ryan Hulce</span>
          <span class="position">Product Design and Testing</span>
        </div>
        <img src="/assets/img/ryan-hulce.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
</div>

<!-- Email Contact Form -->
<div class="ftco-section">
<div class="container" NAME="contact">
  <div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center" data-aos="fade-up">
      <h2>Contact Us</h2>
    </div>
  </div>
  <div class="row block-9" data-aos="fade-up">
    <div class="col-md-6 pr-md-5">
      <form action="#">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Send Message</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 text-center" data-aos="fade-up" id="map">
      <img src="/assets/img/map-placeholder.jpg" alt="map" class="img-fluid">
    </div>
  </div>
</div>
</div>


</div>